/build/
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/cmake_install.cmake
/install_manifest.txt
target/
__pycache__/
*.pyc
/cmake-build-*/
/.cache/
/.idea/
/.vscode/
*.plan
*.engine
*.nemo
*.onnx
*.so
*.so.*
*.a
*.wav
*.pcm
compile_commands.json
